@media screen and (min-width: 427px) and (max-width: 768px) {
    .online-game-container{
        flex-wrap: wrap;
        width: 100%;
    }
    .main-section-container{
        flex-direction: column;
    }
    .main-section-text{
        margin-bottom: 50px;
    }
    .main-section-img{
        width: 70%;
    }
    .main-section-second-img{
        right: 60px;
    }
    .game-types-section{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-description {
        
        gap: 30px;
        
    }
    .game-type1 {
        
        flex-wrap: wrap;
    }









  }
    
    


















@media screen and (max-width: 426px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-items-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo-container{
        justify-content: center;
        align-items: center;
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .banner-text, .banner-img{
        width: 100%;
    }
    .banner-text{
        margin: 30px auto;
        text-align: center;
    }
    .online-game-title-container{
        flex-direction: column;
    }
    #online-game-title{
        font-size: 30px;
    }
    #online-game-title span{
        font-size: 30px;
    }
    .online-game-container{
        flex-direction: column;
        width: 100%;
    }
    .main-section-container{
        flex-direction: column;
    }
    .main-section-text{
        width: 100%;
        margin-bottom: 70px;
    }
    .main-section-img{
        width: 80%;
    }
    .main-section-second-img{
        right: 40px;
        bottom: 90px;
    }
    .main-section-second-img img{
        width: 45%;
        height: 45%;
    }
    .game-type1 {
        
        flex-direction: column;
    }
    .game-type2 {
        
        flex-direction: column;
    }
    .game-types-section {
        margin: 0 auto;
        height: 100%; 
    }
    .footer-description{
        flex-wrap: wrap;
    }
    .terms-container{
        flex-wrap: wrap;
    }
    


}